/* Style Section */

body {
    font-family: 'Times New Roman', Times, serif;
}

.heading {
    background-color: #203354;
    color: white;
    text-align: center;
    padding: 15px;
}

input {
    width:auto;
}

#cityListSearch {
    width: 350px;
}

#searchedCities {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#currentVariables {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#currentWeather {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h4 {
    margin: 5px;
}

.forecast {
    margin: 10px;
}
